
<div 
      class="item-list"
      *ngFor="let item of this.jsonData.products.data.items let i = index"
>
    <p>{{this.jsonData.products.data.items[i].name}} </p>
    <button 
      (click)=
      "buttonClicked(this.jsonData.products.data.items[i].id)">{{this.closeDetails}}
   </button>
    <button 
      style="float: right;"
      (click)="addToCart(this.jsonData.products.data.items[i],this.jsonData.products.data.items[i].id)"
      >Add to card
   </button>
   <button
          style="background-color: rgb(156, 51, 51);"
          (click)="removeFromCart(this.shoppingCart[i])">
          Remove
          </button>
          <p>Number of ordered products: </p>
          <p>Total Price: </p>         
   <div 
   class="cart"
    *ngIf="showOrderedItems&&this.jsonData.products.data.items[i].id==this.productId">
    <div 
    class="ordered-container">
      <p> x {{this.itemCount}}</p>
      <p> $:{{ this.totalPrice }}</p>
    </div>
      <div *ngFor="let cartProduct of shoppingCart"> 
       </div>  
   </div>
            <div 
             class="details-info"
             *ngIf="showTable && this.jsonData.products.data.items[i].id==this.productId"
             [ngClass]="{buttonClicked:this.showTable}">
             <ul>
                <li>ID: {{this.jsonData.products.data.items[i].id}}</li>
                <li>Description: {{this.jsonData.products.data.items[i].description}}</li>
                <li *ngIf="this.jsonData.products.data.items[i].features"[innerHTML]="this.jsonData.products.data.items[i].features">Features: </li>
                <li>Price: {{this.jsonData.products.data.items[i].price}}</li>
                <li>Keywords: {{this.jsonData.products.data.items[i].keywords}}</li>
                <li>Url: <a [href]="'/products/'">{{this.jsonData.products.data.items[i].url}}</a></li>
                <li>Category: {{this.jsonData.products.data.items[i].category}}</li>
                <li>Subcategory: {{this.jsonData.products.data.items[i].subcategory}}</li>
                  <img
                  *ngFor="let image of this.jsonData.products.data.items[i].images let j=index"
                  [src]="image " alt="No available picture"  style="width: 70px; height: 50px;margin:5px"> 
             </ul>
            </div>
            <hr>
</div>


